<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="grid grid-cols-4 gap-4">
    <div class="p-6 rounded-lg shadow-lg bg-white">
      <p class="text-2xl font-bold">
      <p>Saldo Atual: R$ <strong><%= @saldo %></strong></p>
    </div>
  </div>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Movimentações</h1>
    <%= link_to "Nova Movimentação", new_movimentacao_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="movimentacoes" class="min-w-full">
    <% @movimentacoes.each do |movimentacao| %>
      <%= render movimentacao %>
    <% end %>
  </div>
</div>
